/* Базовый стиль для всего документа */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

/* Стили для заголовка */
h1 {
    background-color: #317efb;
    color: white;
    padding: 30px 50px;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px;
    text-align: left;
    font-size: 2rem; /* Использование vw для респонсивных шрифтов */
}

.task-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  
.task-block {
    background-color: #f0f0f0;
    padding: 10px;
    width: 22%;
    border-radius: 8px;
}
  
.task-list {
    list-style-type: none;
    padding: 0;
}
  
.task-item {
    background-color: #fff;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
  

/* Секция новой задачи */
.new-task {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 40%; 
    height: auto; 
    padding: 20px; 
    background-color: #ffffff; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.new-task h3 {
    font-size: 2rem; /* Использование rem для гибкости */
    margin-top: 0px;
}

.new-task input {
    width: 60%;
    padding: 1rem; 
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.new-task button {
    font-size: 1rem;
    padding: 1rem;
    margin-left: 10px;
    background-color: #317efb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.column {
    flex: 1;
    margin-right: 50px;
    margin-bottom: 20px; 
}



/* Последний элемент */
.column:last-child {
    margin-right: 0;
}

/* Стили для колонок с разными статусами */
.backlog h2 {
    background-color: rgba(59, 59, 59, 0.2);
    color: rgba(59, 59, 59);
}

.in-progress h2 {
    background-color: rgba(0, 132, 255, 0.2);
    color: rgba(0, 132, 255);
}

.done h2 {
    background-color: rgba(9, 181, 17, 0.2);
    color: rgba(9, 181, 17);
}

.trash h2 {
    background-color: rgba(255, 0, 0, 0.2);
    color: rgba(255, 0, 0);
}



.task {
    background-color: #ffffff;
    width: 90%;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 10px;
    border-left: 5px solid; 
}

.task-placeholder {
    color: #999;
    border: 2px dashed #ddd;
    width: 80%;
    padding: 2rem;
    border-radius: 4px;
    margin-bottom: 10px;
    border-left: 5px solid;
}


/* Цветовые контуры для задач в колонках */
.backlog .task {
    border-left-color: rgba(59, 59, 59, 0.2); 
}

.in-progress .task {
    border-left-color: rgba(0, 132, 255, 0.2); 
}

.done .task {
    border-left-color: rgba(9, 181, 17, 0.2); 
}

.trash .task {
    border-left-color: rgba(255, 0, 0, 0.2); 
}

.clear {
    background-color: #ff7d7d;
    width: 30%;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 10px;
    border-left: 1px solid; 
}

.board__no-tasks{
    font-size: 50px;
    text-align: center;
}

ul {
    list-style-type: none; /* Убирает маркеры */
    padding: 0;            /* Убирает отступы */
    margin: 0;             /* Убирает поля */
}



@media (max-width: 1200px) {
    .columns {
        padding: 0 20px; 
    }
}

@media (max-width: 768px) {
    .columns {
        flex-direction: column; 
        padding: 0;
    }

    .column {
        margin-right: 0;
    }

    .new-task {
        width: 100%; 
        margin-left: 0;
    }

    .new-task input {
        width: 100%; 
    }

    .new-task button {
        width: 100%; 
        margin-left: 0;
        margin-top: 10px; 
    }
} 

 @media (max-width: 576px) {
    h1 {
        font-size: 1.5rem; 
    }

    .task {
        padding: 0.5rem; 
    }

    .clear {
        font-size: 1rem; 
    }
}
